[tool.pylint.main]
disable=missing-module-docstring,missing-function-docstring,invalid-name


[tool.pylint.basic]
# Good variable names which should always be accepted, separated by a comma.

[tool.pylint.design]
max-branches=15
max-args=8

[tool.pylint.string]
check-quote-consistency = true
check-str-concat-over-line-jumps = true
